<!DOCTYPE html>
<html>
<head>
  <title>Login Page</title>
  <link rel="stylesheet" href="/css/style.css">
  <script src="/js/popup.js" defer></script>
</head>
<body>
  <h1>Login Page</h1>
  <nav>
    <a href="/">Home</a>
    <a href="/login">Login</a>
    <a href="/search">Search</a>
  </nav>

  <h2>Login</h2>
  <form action="/login" method="POST">
    <input type="text" name="email" placeholder="Email" required>
    <input type="password" name="password" placeholder="Password" required>
    <button type="submit">Login</button>
  </form>

  <p>Don't have an account? <a href="/register">Sign up</a></p>
  <p><a href="/forgot-password">Forgot Password?</a></p>

  <% if (showPopup) { %>
    <div class="popup">
      <p><%= error %></p>
    </div>
  <% } %>
</body>
</html>